<!-- <span>{{sectionIndex}}</span> -->
<div class="row">
<div class="col-md-2">
  <h4>Contact</h4>
</div>

<div class="col-md-9">
  <span>Type of property</span>
  <input class="form-control" type="text" ng-model="itemU.propertytype" value=""/>
  <span>Country</span>
  <input class="form-control" type="text" ng-model="itemU.country" value=""/>
  <span>City</span>
  <input class="form-control" type="text" ng-model="itemU.city" value=""/>
  <span>Postcode</span>
  <input class="form-control" type="text" ng-model="itemU.postcode" value=""/>
  <span>Street</span>
  <input class="form-control" type="text" ng-model="itemU.street" value=""/>
  <span>Phone number</span>
  <input class="form-control" type="text" ng-model="itemU.phone" value=""/>
  <span>E-mail</span>
  <input class="form-control" type="email" ng-model="itemU.email" value=""/>

<hr>
  <span class="pwarnings">{{uadata.info ?  uadata.info[1].message : uadata }}</span>

  <button class="btn btn-success" ng-click="onContactUpdate()">Save</button>
  <button class="btn btn-success" ng-click="CancelUpdateContact(itemU.id)">Cancel</button>
</div>
</div>
