<!-- <nav-bar></nav-bar> -->
<div class="container">
	<h2> Projects </h2>
	<hr>
		    <div class="col-md-12" ng-repeat="item in projectsCtrl.PagesProjects[0]">
					<a ui-sref="project({id:'{{item.id}}'})">
						<h2>{{item.title}}</h2>
						<div class="col-md-4">
							<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
						</div>
						<!-- <div class="col-md-8">
							<p ng-bind-html="item.description"></p>
						</div> -->
						<div class="col-md-8">
							<p>URL: {{item.url}}</p>
		      		<p>Started: {{item.started}}</p>
							<p>Closure date:{{item.finished}}</p>
							<div ng-if="item.author">Authors:
								<span ng-repeat="person in item.author" ng-init="sectionIndex = $index">
									<span ng-show="sectionIndex > 0">, </span>{{person.title}}. {{person.name}} {{person.surname}}</span>
							</div>
					</div>
					<hr class="col-md-12">
					</a>
		    </div>

	</div>
	<div class="col-md-5 text-center column-in-center">
			<ul class="pagination">
				<button ng-show="projectsCtrl.currentPage-1>=0"
								ng-style="isPrevious"
								ng-click="projectsCtrl.NextPage(projectsCtrl.currentPage-1)">
								Previous
				</button>
			</ul>
			<ul ng-repeat="num in projectsCtrl.totalPages" class="pagination pg-blue">
				<button  ng-show="projectsCtrl.currentPage-1>=0 && projectsCtrl.totalPagesNumber-1!=projectsCtrl.currentPage" class="active"
								ng-click="projectsCtrl.NextPage(num-1)">
								{{num}}
				</button>
			</ul>
			<ul class="pagination pg-blue">
				<button ng-show="projectsCtrl.totalPagesNumber-1!=projectsCtrl.currentPage"
								ng-style="isNext"
				 				ng-click="projectsCtrl.NextPage(projectsCtrl.currentPage+1)">
								Next
				</button>
			</ul>
	</div>
